:root {
    --heading: "Inter", sans-serif;
    --body: "Rubik", sans-serif;
    --body-background: #fdf9ff;
    --background-color: #f4f8ff;
    --nav-color: #2c2a47;
    --heading-color: #4a5fc1;
    --black: #2f2e41;
    --hightlight-text: #ffffff;
    --highlight-color: #f4b7c9;
    --accent-color: #9ec8ff;
    --skills: #ffe3ed;
    --card: #ffffff;
    --cardH: #4a5fc1;
    --footer-img: #ffcad4;
}

.darkmode {
    --body-background: #0d1025;
    --nav-color: #14182f;
    --background-color: linear-gradient(#1b2149, #0d1025);
    --heading-color: #ffb6c9;
    --black: #f7f9ff;
    --highlight-color: #9bb6ff;
    --hightlight-text: #0d1025;
    --accent-color: #2e6ccf;
    --skills: #4a5fc1;
    --card: #1a1f3d;
    --cardH: #ff8fb1;
    --footer-img: #9bb6ff;
}


* {
    margin: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    position: relative;
}

body {
    transition: 0.4s ease;
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* === Paper Cut-Out Layers === */
.layer {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    z-index: -3;
    animation: floatLayer 2s ease-in-out infinite alternate;
}

/* Generate SVG backgrounds using https://haikei.app/ */
.layer1 {
    background-image: url('./svg/layered-waves-haikei.svg');
    bottom: 0;
    opacity: 1;
}

.layer2 {
    background-image: url('./svg/layered-waves-haikei2.svg');
    bottom: -10px;
    opacity: 0.8;
    animation-delay: 1s;
}

.layer3 {
    background-image: url('./svg/layered-waves-haikei3.svg');
    bottom: -20px;
    opacity: 0.6;
    animation-delay: 3s;
}

/* Floating motion for layers */
@keyframes floatLayer {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}


.head {
    display: none;
}

.close-popup {
    display: none;
}

/* ==================Sound================= */
.responsive>.sound>i {
    color: var(--black);
    align-self: baseline;
    position: absolute;
    left: 2px;
    top: 10px;
    font-size: 60px;
    cursor: pointer;
}

.responsive>.sound>i:hover {
    transform: scale(1.1);
}

.sound .off {
    display: none;
}

/* ==================Mode================= */
.mode>i {
    color: var(--black);
    position: absolute;
    font-size: 60px;
    top: 10px;
    left: 80px;
    cursor: pointer;
}

.mode>.uil-sun {
    display: none;
}

.mode>i:hover {
    transform: scale(1.1);
}

/* ============================================= Container ============================== */
.container {
    position: relative;
    display: grid;
    grid-template-columns: 200px 2fr;
    border: 1px solid var(--black);
    height: 560px;
    box-sizing: border-box;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    transition: 0.3s ease;
    overflow-x: hidden;
}

.container.collapsed {
    grid-template-columns: 100px 2fr;
}

/* =========================== Navbar ========================== */
.burger {
    font-size: 35px;
    cursor: pointer;
    display: none;
    color: var(--black);
}

.navbar {
    grid-column: 1;
    position: fixed;
    font-family: "Rubik", sans-serif;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid var(--black);
    transition: 0.3s ease;
    width: 200px;
    height: 558px;
}

.container.collapsed .navbar {
    width: 100px;
}

.uil-arrow-circle-left,
.uil-arrow-circle-right {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 40px;
}

.left-toggle {
    display: inline;
}

.right-toggle {
    display: none;
}

.nav-container {
    margin-top: 70px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-container #resumeBtn1 {
    display: none;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
    padding: 30px 0 30px 0;
    font-size: 30px;
    color: #F0E6FF;
    transition: 0.4s ease;
}

.nav-container a>p {
    font-size: 24px;
}

.nav-container a:hover,
.bg {
    width: 100%;
    background-color: var(--highlight-color);
    color: var(--hightlight-text);
}

.container.collapsed .navbar .nav-container a i {
    transition: 0.4s ease;
    font-size: 30px;
}

.container.collapsed .navbar .nav-container p {
    display: none;
    pointer-events: none;
}

/* ========================================= Main ======================================= */
.main {
    grid-column: 2;
    flex: 1;
}

.intro-container {
    background-color: var(--background-color);
    background-image: var(--background-color);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.intro-container h1 {
    font-family: var(--heading);
    color: var(--heading-color);
    font-size: 70px;
}

.intro-container>p {
    text-align: center;
    font-family: var(--body);
    color: var(--black);
    margin-top: 30px;
    font-size: 25px;
}

.intro-container>.btn {
    font-family: var(--body);
    background-color: var(--skills);
    color: var(--black);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    margin-top: 20px;
    font-size: 22px;
    padding: 17px;
    border-radius: 20px;
    cursor: pointer;
}

.intro-container .btn:hover {
    transform: scale(1.1);
    background-color: var(--highlight-color);
    color: var(--hightlight-text);
}

/* Resume PopUp */
.pdf-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.window2 {
    width: 900px !important;
    height: 700px !important;

}


/* ================================ MY WORK ============================= */
.work {
    display: none;
    background-color: var(--body-background);
}

.work-popup {
    position: relative;
}

.work-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #d0cfd1;
}

.works {
    padding: 50px 20px;
}

.works h1,
.case-content h2,
.case-study-body h2 {
    font-size: 30px;
    font-family: var(--heading);
    color: var(--heading-color);
}

.works,
.case-content,
.case-study-body {
    font-family: var(--body);
}

.note {
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: var(--accent-color);
    padding: 10px;
    color: var(--black);
    border-radius: 20px;
    width: 90%;
}

.projects {
    margin-bottom: 20px;
}

/* =================== First Project ===============*/
.normal-card {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;

}

.normal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.normal-container h3,
.case-content h3 {
    color: var(--heading-color);
}

.normal-card>.normal-container>img {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.skills {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.skill-btn {
    display: flex;
    height: 50px;
    gap: 2px;
    gap: 20px;

}

.skill-btn a {
    width: 100px;
    font-size: 16px;
}

.skills h3 {
    font-size: 20px;
}

.skills h4 {
    color: var(--black);
    margin: 10px 0 10px 0px;
}

.skills p {
    color: var(--black);
    font-size: 16px;
}

.skills span {
    font-size: 16px;
}

.skills a {
    margin-top: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.skills span {
    display: inline-block;
    background: var(--skills);
    color: var(--black);
    padding: 5px 8px;
    margin: 3px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 12px;
}

.btn2 {
    font-size: 18px;
    margin-top: 10px;
    width: 150px;
    background: var(--accent-color);
    border-radius: 8px;
    text-decoration: none;
}

.btn3 {
    font-size: 18px;
    margin-top: 10px;
    background-color: var(--skills);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: var(--black);
}

.btn2:hover {
    background-color: #0c3c89;
    color: white;
}

.btn3:hover {
    background-color: var(--highlight-color);
    color: white;
}

/* Case Popup */
#openProgamingBtn2 {
    display: none;
}

.case-study-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 900px;
    max-height: 70vh;
    max-width: 90%;
    overflow-y: auto;
    z-index: 9999;
    transition: 0.3s ease;
}

.case-study-popup.hidden2 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.case-study-header {
    position: sticky;
    top: 0;
    background: var(--nav-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    cursor: grab;
    z-index: 10;
}


.case-study-body {
    color: var(--black);
    padding: 20px;
    background-color: var(--body-background);
}

.case-study-title {
    font-family: var(--body);
    font-size: 16px;
    font-weight: bold;
    color: #f7f7f7;
}

.close-btn2 {
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.close-btn2:hover{
    color: #f4b7c9;
}


.popup-section {
    display: none;
}

/* Popup body */
.case-study-body h2 {
    font-family: var(--heading);
    font-size: 25px;
    padding-bottom: 30px;
}

.case-study-body h3 {
    font-family: var(--heading);
    color: var(--heading-color);
    font-size: 20px;
    padding: 20px 0 20px 0px;
}

.case-study-body .case-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 20px;
}

.case-study-body img {
    width: 500px;
    height: auto;
    object-fit: contain;
    align-self: center;
}

.case-study-body p {
    font-size: 16px;
    padding-bottom: 30px;
    padding-right: 15px;
}

.case-study-body h4 {
    width: fit-content;
    font-weight: 500;
    padding: 10px;
    background-color: var(--skills);
    border-radius: 30px;
    cursor: pointer;
}

.case-study-body h5 {
    font-size: 17px;
}

.case-study-body h5,
.case-study-body ul {
    padding: 20px;
}

.case-study-body h4:hover {
    background-color: var(--accent-color);
    color: var(--hightlight-text);
}


/* Slideshow styles */
.slideshow {
    position: relative;
    width: 450px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: #f0f0f0;
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* or contain if you prefer */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
}

/* Progress dots */
.dots {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.dots span {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dots span.active {
    background-color: var(--accent-color);
}


.container.collapsed .main .work .works .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* ==========================Popup Window ===================*/
#resumePopup {
    display: none;
    /* hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    height: 50%;
    max-height: 300px;
    background-color: var(--card);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-direction: column;
    z-index: 1000;
}

.popup-header {
    background: var(--nav-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    cursor: grab;
}

.popup-title {
    font-size: 16px;
    font-weight: bold;
    color: #f7f7f7;
}

.popup-close {
    font-size: 22px;
    cursor: pointer;
    color: #f7f7f7;
}

.popup-close:hover {
    color: #FFDBBB;
}

/* Body */
.popup-body {
    font-family: var(--body);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-body a {
    color: var(--black);
}

.popup-body a:hover {
    color: var(--highlight-color);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


/* =================================About Me ========================== */
.aboutme {
    display: none;
}

.aboutme {
    background-color: var(--body-background);
    padding: 20px 20px 50px 20px;
    font-family: var(--body);
    color: var(--black);
}

.intro {
    border-bottom: 2px solid #d0cfd1;
}

.aboutme h1 {
    font-family: var(--heading);
    font-size: 30px;
    margin-bottom: 15px;
    color: var(--heading-color);
}

.aboutme p {
    font-size: 18px;
    font-family: (var(--body));
}

.aboutme .tagline {
    font-family: var(--body);
    font-style: italic;
    color: var(--heading-color);
    margin: 10px 0px 40px 0px;
}

.main-skills,
.fun-facts {
    margin-top: 20px;
}

.journey {
    border-bottom: 2px solid #d0cfd1;
}

.journey h2,
.main-skills h2,
.fun-facts h2 {
    font-family: var(--heading);
    font-size: 25px;
    color: var(--heading-color);
    margin: 20px 0px 40px 0px;
}

.roadmap {
    font-family: var(--body);
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    padding-left: 45px;
    max-width: 600px;
    margin: 20px 0px 40px 0px;
}

.step {
    border-left: 3px solid var(--black);
    height: 70px;
    position: relative;
    margin-bottom: 60px;
    padding-left: 35px;
}

.circle {
    position: absolute;
    left: -1.35rem;
    top: 0;
    background: var(--skills);
    color: var(--black);
    font-size: 25px;
    padding: 7px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.content h3 {
    margin: 0;
    font-size: 22px;
    color: var(--black);
}

.content p {
    margin: 5px 0 0;
    color: var(--black);
    font-size: 16px;
}


.timeline {
    list-style: none;
    padding-left: 0;
}

.timeline li {
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 3px solid #5a40dd;
}

.main-skills {
    border-bottom: 2px solid #d0cfd1;
}

.main-skills .skill-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.skill-card {
    background: var(--skills);
    color: var(--black);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s ease, background 0.3s ease;
    cursor: pointer;
}

.skill-card:hover {
    transform: translateY(-5px);
    background: var(--highlight-color);
    color: var(--hightlight-text);
}

.fun-facts ul {
    list-style-type: none;
    padding-left: 0;
}

.fun-facts li {
    font-family: var(--body);
    font-size: 18px;
    margin-bottom: 0.20px;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    display: none;
    height: 100%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    background-color: var(--body-background);
}

.contact-container {
    text-align: center;
    padding: 60px 40px;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.contact h2 {
    font-family: var(--heading);
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--heading-color);
}

.contact p {
    font-family: var(--body);
    font-size: 22px;
    color: var(--black);
}

.contact a {
    cursor: pointer;
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.contact a:hover {
    color: var(--heading-color);
    border-bottom: 2px solid var(--highlight-color);
}


/* Footer */
footer {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: var(--accent-color);
    color: #fff; */
    text-align: center;
    /* border-top: 2px solid rgba(255, 255, 255, 0.2); */
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

footer div {
    font-size: 17px;
    color: #ffe3ed;
}

footer .socials a {
    border-radius: 100%;
}

.socials a img {
    width: 40px;
    display: block;
}

.socials a p {
    color: #ffe3ed;
    font-size: 18px;
}

/* MOBILE ALERT */
.mobile-alert {
    display: none;
    font-family: var(--body);
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 70%;
    height: 50vh;
    background-color: rgb(151, 162, 180);
    color: #fff;
    border-radius: 20px;
    z-index: 1000;
}


.mobile-alert p {
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

/* Close button */
.close-alert {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    user-select: none;
    transition: color 0.3s;
}

.close-alert:hover {
    color: #ff6666;
}